{% extends "Registration/Step/default.html.twig" %}

{% block form_content %}
    {% if form.disabilityListed is defined %}
    <p>
        Under the Equality Act 2010, a disability is any physical or mental impairment which has a substantial and long
        term adverse effect on an individual’s ability to carry out normal day to day activities.
    </p>
    {% endif %}


    {% if form.disabilityListed is defined %}
        <p>
        {{ form_row(form.disabilityListed) }}
        </p>
    {% endif %}

    {% if form.inReceiptOfDisabledStudentsAllowance is defined %}
        {{ form_row(form.inReceiptOfDisabledStudentsAllowance, {'form_type':'horizontal'}) }}
    {% endif %}
    {{ form_row(form.additionalNeeds, {'form_type':'horizontal'}) }}

    <div id="whenAdditionalNeedsYes">
    {% if form.additionalNeedsDetail is defined %}
        {% if form.shareSupportNeeds is defined %}
            <p></p>
        {% endif %}
        {{ form_row(form.additionalNeedsDetail, {'form_type':'horizontal'}) }}
    {% else %}
        <p>We will contact you shortly to discuss your requirements.</p>
    {% endif %}
    </div>

    {% if form.firstFloorAccess is defined %}
        <p>Madingley Hall is a Grade 1 listed building with a limited number of ground floor teaching rooms. When it is
            known that students with reduced mobility are attending courses every effort is made to ensure ground floor
            teaching rooms are used. Should this not prove possible students will be notified in advance.
        </p>

        {{ form_row(form.firstFloorAccess, {'form_type':'horizontal'}) }}

    {% endif %}

    <p>If you would like to discuss your requirements in more detail please contact
        <a href="mailto:da@ice.cam.ac.uk">da@ice.cam.ac.uk</a> with brief details so that we can forward your
        request to the right person.
    </p>

    {% if form.shareSupportNeeds is defined %}
        {{ form_row(form.shareSupportNeeds, {'form_type':'horizontal'}) }}
    {% endif %}

    {{ form_rest(form, {'form_type':'horizontal'}) }}
{% endblock %}