{% extends "Registration/Step/default.html.twig" %}

{% block form_content %}
    <p>
        We are required to ask the following questions which are shared with the
        <a target="_blank" href="http://www.hesa.ac.uk/content/view/131/180/">Higher Education Statistics Agency (HESA)</a>
        in line with legal and government requirements. Please note that we may need to contact you for further information
        in order to complete our statutory returns.</p>

    {{ form_row(form.hesaEthnicOrigin, {form_type:'horizontal'}) }}
    {{ form_row(form.hesaPreviouslyStudiedAtDegreeLevel, {form_type:'horizontal'}) }}
    {{ form_row(form.hesaParentalQualifications, {form_type:'horizontal'}) }}
    {{ form_row(form.hesaHighestQualification, {form_type:'horizontal'}) }}
    {{ form_row(form.hesaMostRecentEducationInstitutionType, {form_type:'horizontal'}) }}
    <div id="whenMostRecentEducationIsHE">
    {{ form_row(form.hesaMostRecentEducationInstitutionName, {form_type:'horizontal'}) }}
    </div>
    {{ form_row(form.hesaFeeSource, {form_type:'horizontal'}) }}
    <div id="whenFeeSourceIsEmployer">
    {{ form_row(form.hesaFeesEmployerType, {form_type:'horizontal'}) }}
    </div>

    {% if form.disabilityListed is defined %}
        <p>
            Under the Equality Act 2010, a disability is any physical or mental impairment which has a substantial and long
            term adverse effect on an individual’s ability to carry out normal day to day activities.
        </p>

        <p>
            {{ form_row(form.disabilityListed) }}
        </p>
    {% endif %}

    {% if form.inReceiptOfDisabledStudentsAllowance is defined %}
        <div id="whenHasDisability">
            {{ form_row(form.inReceiptOfDisabledStudentsAllowance, {'form_type':'horizontal'}) }}
        </div>
    {% endif %}

    {% if form.hesaCareOrder is defined %}
        {{ form_row(form.hesaCareOrder, {'form_type':'horizontal'}) }}
    {% endif %}
    {{ form_rest(form) }}
{% endblock %}