{% extends "Registration/Step/default.html.twig" %}

{% block form_content %}
    {# User account already created. Some fields will not be editable. #}
    {% if form.fullName is defined %}
        {{ form_row(form.fullName, {'form_type': 'horizontal'}) }}
        {{ form_row(form.email, {'form_type': 'horizontal'}) }}
        {{ form_row(form.dob, {'form_type': 'horizontal'}) }}
    {% endif %}
    {# User has not been previously created. All fields are editable to allow an account to be created. #}
    {% if form.title is defined %}
        {{ form_row(form.title, {'form_type': 'horizontal'}) }}
        {{ form_row(form.firstNames, {'form_type': 'horizontal'}) }}
        {{ form_row(form.middleNames, {'form_type': 'horizontal'}) }}
        {{ form_row(form.lastNames, {'form_type': 'horizontal'}) }}
        {{ form_row(form.email, {'form_type': 'horizontal'}) }}
        {{ form_row(form.dob, {'form_type': 'horizontal'}) }}
        {{ form_row(form.plainPassword, {'form_type': 'horizontal'}) }}
    {% endif %}
    {{ form_row(form.sex, {'form_type': 'horizontal'}) }}
    <p>If you used a different name during previous study at, or contact with, ICE or the University, please include it here</p>
    {{ form_row(form.previousContact, {'form_type': 'horizontal'}) }}
    {{ form_row(form.previousTitle, {'form_type': 'horizontal'}) }}
    {{ form_row(form.previousFirstName, {'form_type': 'horizontal'}) }}
    {{ form_row(form.previousMiddleName, {'form_type': 'horizontal'}) }}
    {{ form_row(form.crsId, {'form_type': 'horizontal'}) }}
{% endblock %}