<form action="{{ url|e }}" method="post" class="enrolStage">
    {% if description != false %}
    <p>{{ description|e }}</p>
    {% endif %}
    <ul>
        {% for element in form %}
        {% if 'hidden' not in element.vars.block_prefixes %}
        {% set hasErrors = element.vars.errors|length > 0 %}
        <li class="inputRow{% if hasErrors %} hasErrors{% endif %}">
            {{ form_label(element) }}
            {{ form_widget(element) }}
            {{ form_errors(element) }}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {{ form_rest(form) }}
    <input type="hidden" name="stepIndex" value="{{stepIndex|e}}" />
    <input type="submit" name="submitStep" value="Continue" />
</form>