{% extends "Registration/Step/default.html.twig" %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        function onChangeAdditionalNeeds(){
            if($('input:radio[name=additionalNeeds]:checked').val() === '0'){
                $('#whenAdditionalNeedsYes').show();
            }
            else {
                $('#whenAdditionalNeedsYes').hide();
            }
        }

        $('input:radio[name=additionalNeeds]').each(function(index, domElement){
            $(domElement).change(onChangeAdditionalNeeds);
        });

        onChangeAdditionalNeeds();
    </script>
{% endblock %}

{% block form_content %}
    <p>We invite disclosure from anyone who feels they may have a disability or other condition which is likely to
        require additional support during their selected course(s).</p>
    <p>By supplying this information you may be put in contact with our Disability Advisor to establish what support,
        if any, is required to enable you to study effectively. Please contact
        <a href="mailto:studentsupport@ice.cam.ac.uk">studentsupport@ice.cam.ac.uk</a> if you have any questions.</p>
    {{ form_row(form.additionalNeeds, {'form_type':'horizontal'}) }}
    <div id="whenAdditionalNeedsYes">{{ form_row(form.additionalNeedsDetail, {'form_type':'horizontal'}) }}</div>
    <p>Madingley Hall is a Grade 1 listed building with a limited number of ground floor teaching rooms. When it is
        known that students with reduced mobility are attending courses every effort is made to ensure ground floor
        teaching rooms are used. Should this not prove possible students will be notified in advance. </p>
    {{ form_row(form.firstFloorAccess, {'form_type':'horizontal'}) }}
    {{ form_row(form.shareSupportNeeds, {'form_type':'horizontal'}) }}
    {{ form_rest(form, {'form_type':'horizontal'}) }}
{% endblock %}