{% extends "CourseApplication/Step/default.html.twig" %}

{% block form_content %}
    <p>Please provide your permanent home address below. If you are accepted we will ask separately for a term time mailing address.</p>

    {{ form_row(form.address.address1, {'form_type':'horizontal'}) }}
    {{ form_row(form.address.address2, {'form_type':'horizontal'}) }}
    {{ form_row(form.address.address3, {'form_type':'horizontal'}) }}
    {{ form_row(form.address.town, {'form_type':'horizontal'}) }}
    {{ form_row(form.address.county, {'form_type':'horizontal'}) }}
    {{ form_row(form.address.postcode, {'form_type':'horizontal'}) }}
    {{ form_row(form.address.country, {'form_type':'horizontal'}) }}
    {{ form_row(form.address.telephone, {'form_type':'horizontal'}) }}
    {{ form_rest(form) }}
{% endblock %}
